<nav class="navbar navbar-light bg-light h-100">
  <div class="container flex-column">
    <ul class="navbar-nav">
      <li class="nav-item d-flex align-items-center border-bottom">
        <fa-icon icon="sign-in-alt" size="lg" [fixedWidth]="true"></fa-icon>
        <a href="#" class="nav-link fw-bold text-primary ms-2" routerLinkActive="active">Log in</a>
      </li>
      <li class="nav-item d-flex align-items-center">
        <fa-icon icon="edit" size="lg" [fixedWidth]="true"></fa-icon>
        <a href="#" class="nav-link fw-bold ms-2" routerLinkActive="active">Sign up</a>
      </li>
    </ul>

    <ul class="navbar-nav">
      <li class="nav-item d-flex align-items-center">
        <fa-icon icon="users" size="lg" [fixedWidth]="true"></fa-icon>
        <a href="#" class="nav-link ms-3" routerLinkActive="active">Characters</a>
      </li>
      <li class="nav-item d-flex align-items-center">
        <fa-icon icon="fire-alt" size="lg" [fixedWidth]="true"></fa-icon>
        <a href="#" class="nav-link ms-3" routerLinkActive="active">Spell book</a>
      </li>
      <li class="nav-item d-flex align-items-center">
        <fa-icon icon="book" size="lg" [fixedWidth]="true"></fa-icon>
        <a href="#" class="nav-link ms-3" routerLinkActive="active">Library</a>
      </li>
      <li class="nav-item d-flex align-items-center">
        <fa-icon icon="info-circle" size="lg" [fixedWidth]="true"></fa-icon>
        <a href="#" class="nav-link ms-3" routerLinkActive="active">About us</a>
      </li>
      <li class="nav-item d-flex align-items-center">
        <fa-icon icon="phone" size="lg" [fixedWidth]="true"></fa-icon>
        <a href="#" class="nav-link ms-3" routerLinkActive="active">Contact</a>
      </li>
    </ul>
  </div>
</nav>
