# Ignore all
*

# Except for directories
!*/

# and except for specific file types
!*.css
!*.js
!*.json
!*.md
!*.scss
!*.ts
!*.yaml
!*.yml
!*.html

###

coverage
package-lock.json
yarn.lock

## IDE directories
.idea/
.vscode/

## Imported source
node_modules/
**/node_modules/

## Output directories
dist/
.angular/
.Ds_Store
