<article>
    <h2 class="text-primary fw-bold">DnD Mapp</h2>
    <hr />
    <h3>Changelog:</h3>
    <h5>release 0.1.0 (2021-11-04)</h5>
    <p>
        The spells overview page has arrived. Find spells, by name or scroll through the list of Spells, and read their
        description to refresh your knowledge about the spells used in D&D 5e.
    </p>
    <p>
        Although we tried to make every spell available right from the start, due to how some spells have their
        information shown we would need to do some overhauling of the structure of our spells data. This effectively
        means that the following spells are currently not available, but are coming in the next patch or release:
    </p>
    <dma-collapsing-card opened>
        <span class="dma-card-header">Spells that are currently missing</span>
        <ul class="dma-card-body">
            <li>Animate Objects</li>
            <li>Augury</li>
            <li>Bestow Curse</li>
            <li>Commune with Nature</li>
            <li>Confusion</li>
            <li>Conjure Animals</li>
            <li>Conjure Minor Elementals</li>
            <li>Conjure Woodland Beings</li>
            <li>Control Weather</li>
            <li>Creation</li>
            <li>Divine Word</li>
            <li>Druidcraft</li>
            <li>Greater Restoration</li>
            <li>Guards and Wards</li>
            <li>Magic Circle</li>
            <li>Prestidigitation</li>
            <li>Private Sanctum</li>
            <li>Reincarnate</li>
            <li>Scrying</li>
            <li>Teleport</li>
            <li>Thaumaturgy</li>
            <li>Wish</li>
        </ul>
    </dma-collapsing-card>
    <h6>What changed:</h6>
    <ul>
        <li>
            20 spells are shown in a page on cards to provide a quick overview on their basic details. Click/ tap on a
            card to view their description or material details.
        </li>
        <li>
            Go directly to the next, previous, or a specific spell page by using the pagination on either the top
            (larger devices) or bottom (smaller devices).
        </li>
        <li>
            Find a spell by characters in their name by using the input at the top of the overview. Did you input
            something that did not result in anything or do you want to go back to the first page of Spells without any
            other parameters, hit the reset button!
        </li>
    </ul>
    <h6>What's next:</h6>
    <ul>
        <li>
            More filters for Searching specific spells! We're looking into filtering spells by the following attributes:
            <ul>
                <li>A specific spell level, or a range of spell levels.</li>
                <li>What school of magic a spell belongs to.</li>
                <li>If the spell should be able to be cast as a ritual.</li>
                <li>What components a spell needs to be cast (Vocal, Somatic, Materials).</li>
                <li>How long it takes to cast the spell.</li>
                <li>if concentration is required for casting the spell.</li>
                <li>The range of a spell.</li>
                <li>The duration of a spell.</li>
                <li>What Character Class can cast certain spells.</li>
            </ul>
        </li>
        <li>Setting the numbers of spells will be available per page.</li>
        <li>
            Sorting spells by a specific order. (Currently spells are sorted by the name of the spell, but it would be
            nice to sort them by spell level too, for example.)
        </li>
    </ul>
    <hr />
</article>
