<article>
    <h2 class="text-primary">About</h2>
    <hr />
    <p>
        The Dungeons and Dragons Management Application or <b>DnD Mapp</b> for short will be your 1 stop shop for all
        your Dungeons & Dragons needs. We all know that it sometimes is a lot that you need to manage while playing a
        game of D&D, DnD Mapp will solve that.
    </p>
    <p>This application strives to accomplish a couple of thing:</p>
    <ul>
        <li>
            Look up information about the game mechanics, spells, and everything you'll need to know to play a game
            with your friends, all under your thumb and in one application.
        </li>
        <li>
            Create Characters and manage their statistics, inventory, their pet(s) or land that they own, and much more.
        </li>
        <li>
            Keep track of the battles! Instantly see where the enemies are, if they are discovered, and plan epic moves
            with your teammates to defeat them. Confidently sling a Fireball into a group of Wargs now that you know
            that your friends are standing on a safe distance.
        </li>
        <li>
            Share and keep track of all the knowledge gathered in the story and have all your notes for one particular
            party conveniently collected in one place.
        </li>
        <li>
            Create encounters or build worlds, and keep all your notes, lore and information about that world in one place.
            Invite players to participate in your stories, control their battle map, and watch your story unravel in front of
            their eyes.
        </li>
    </ul>
    <hr>
    <h4>License</h4>
    <p>
        DnD Mapp is currently licensed under the GPL v3 licence.
        All D&D related material is also in according to what is publicly available via the
        <a href="https://dnd.wizards.com/articles/features/systems-reference-document-srd" target="_blank" rel="noopener">
            System Reference Document
        </a>
        that is owned by Wizards of the Coast.
    </p>
    <h4>Suggestions or issues</h4>
    <p>
        If you've got any suggestions to improve the application or you've encountered any issues while using it, don't worry,
        there's a place for that! Feel free to add an issue to the source code repository linked below. When your posting an
        issue about a bug that you've encountered, please provide in depth details about how you've encountered the bug.
        What did you do moments before you encountered the bug? What were your trying to do? What was your expected outcome?
    </p>
    <a class="d-flex text-dark" href="https://github.com/NoNamer777/dma-front" target="_blank"rel="noopener">
        <fa-icon class="me-3" size="2x" [icon]="['fab', 'github']"></fa-icon>
        Dma Front
    </a>
    <hr>
</article>
