:host {
    display: block;

    .fixed-top {
        z-index: 4;
    }

    a.navbar-brand {
        &.collapsing-navbar {
            margin-left: auto;
        }

        img {
            height: 2.4em;
            width: 2.4em;
        }
    }
}
