<article class="container-md">
    <h2>DnD Mapp</h2>
    <hr />
    <h3>Changelog:</h3>
    <h5>release 0.1.0 (2021-11-04)</h5>
    <p>
        The Spells overview has arrived. Find Spells, by name or scroll through the list of Spells, and read their
        description to refresh your knowledge about Spells used in D&D 5e.
    </p>
    <h6>What changed:</h6>
    <ul>
        <li>
            20 Spells are shown in a page on cards to provide a quick overview on their basic details. Click/ tap on a
            card to view their description or material details.
        </li>
        <li>
            Go directly to the next, previous, or a specific Spell page by using the pagination on either the top
            (larger devices) or bottom (smaller devices).
        </li>
        <li>
            Find a Spell by characters in their name by using the input at the top of the overview. Did you input
            something that did not result in anything or do you want to go back to the first page of Spells without any
            other parameters, hit the reset button!
        </li>
    </ul>
    <h6>What's next:</h6>
    <ul>
        <li>
            More filters for Searching specific Spells! We're looking into filtering Spells by the following attributes:
            <ul>
                <li>A specific Spell level, or a range of Spell levels.</li>
                <li>What School of Magic a Spell belongs to.</li>
                <li>If the Spell should be able to be cast as a ritual.</li>
                <li>What components a Spell needs to be cast (Vocal, Somatic, Materials).</li>
                <li>How long it takes to cast the Spell.</li>
                <li>if concentration is required for casting the Spell.</li>
                <li>The range of a Spell.</li>
                <li>The duration of a Spell.</li>
            </ul>
        </li>
        <li>Setting the numbers of Spells will be available per page.</li>
        <li>
            Sorting Spells by a specific order. (Currently Spells are sorted by the name of the Spell, but it would be
            nice to sort them by Spell level too, for example.)
        </li>
    </ul>
    <hr />
</article>
