:host {

  main {
    display: flex;
    flex-direction: column;
    height: -webkit-fill-available;

    dma-header {
      flex: 0 0 auto;
    }

    mat-sidenav-container {
      flex: 1 1 auto;
    }

    mat-sidenav {
      display: flex;
      flex-direction: column;
      width: 20rem;

      dma-sidenav {
        flex: 1 1 auto;
      }
    }
  }
}
