:host {
    #spell-cards-container {
        flex-direction: column;

        @media (min-width: 768px) {
            flex-direction: row;
        }
    }

    select[formControlName='pageNumber'] {
        width: 3em;

        &:focus {
            box-shadow: none;
        }
    }

    .next-btn,
    .previous-btn {
        width: 6em;

        &:focus {
            box-shadow: none;
        }
    }
}
