<aside class="container-fluid mt-2">
    <ul class="nav flex-column">
        <li class="nav-item">
            <a
                routerLink=""
                routerLinkActive="fw-bold"
                class="nav-link d-flex align-content-center text-white"
                [routerLinkActiveOptions]="{ exact: true }"
            >
                <fa-icon icon="home" size="2x" class="me-2"></fa-icon>
                Home
            </a>
        </li>
        <li class="nav-item">
            <a routerLink="spells" routerLinkActive="fw-bold" class="nav-link d-flex align-content-center text-white">
                <fa-icon icon="book" size="2x" class="me-2"></fa-icon>
                Spells
            </a>
        </li>
        <li class="text-white">
            <hr />
        </li>
        <li class="nav-item">
            <a routerLink="about" routerLinkActive="fw-bold" class="nav-link d-flex align-content-center text-white">
                <fa-icon icon="info-circle" size="2x" class="me-2"></fa-icon>
                About
            </a>
        </li>
        <li class="nav-item">
            <a routerLink="privacy" routerLinkActive="fw-bold" class="nav-link d-flex align-content-center text-white">
                <fa-icon icon="shield-alt" size="2x" class="me-2"></fa-icon>
                Privacy Policy
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link d-flex align-content-center text-white" routerLink="login" routerLinkActive="fw-bold">
                <fa-icon icon="shield-alt" size="2x" class="me-2"></fa-icon>
                Login
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link d-flex align-content-center text-white" routerLink="sign-up" routerLinkActive="fw-bold">
                <fa-icon icon="shield-alt" size="2x" class="me-2"></fa-icon>
                Sign up
            </a>
        </li>
    </ul>
</aside>
