<aside class="container-fluid mt-2">
    <ul class="nav flex-column">
        <li class="nav-item">
            <a
                routerLink=""
                routerLinkActive="fw-bold"
                class="nav-link d-flex align-content-center text-white"
                [routerLinkActiveOptions]="{ exact: true }"
            >
                <fa-icon icon="home" size="2x" class="me-2"></fa-icon>
                Home
            </a>
        </li>
        <li>
            <a routerLink="spells" routerLinkActive="fw-bold" class="nav-link d-flex align-content-center text-white">
                <fa-icon icon="book" size="2x" class="me-2"></fa-icon>
                Spells
            </a>
        </li>
    </ul>
</aside>
