<mat-sidenav-container hasBackdrop>
    <mat-sidenav
        class="bg-dark"
        disableClose
        fixedInViewport
        mode="over"
        position="end"
        [opened]="sidebarService.sidebarOpenedChange$ | async"
        [fixedTopGap]="headerHeight"
    >
        <dma-sidebar></dma-sidebar>
    </mat-sidenav>
    <mat-sidenav-content>
        <main class="container-fluid">
            <router-outlet></router-outlet>
        </main>
    </mat-sidenav-content>
</mat-sidenav-container>
