@use '@angular/material' as mat;

$theme: mat.define-theme((
    color: (
        theme-type: light,
        primary: mat.$blue-palette,
    )
));

html,
body {
    @include mat.core-theme($theme);
    @include mat.all-component-themes($theme);

    height: 100%;
}

body {
    margin: 0;
}

.mat-dialog-container {
    overflow: hidden !important;
}

.dma-dialog {
    max-width: 90% !important;
    width: 90%;
    height: 85%;

    @media (min-width: 768px) {
        width: 60%;
        height: 75%;
    }
}
